version: "3"
services:
  frontend:
    build:
      dockerfile: Dockerfile.dev
      context: ${FRONTEND_DIR}
    ports:
      - "${PORT}:${PORT}"
      - "8081:8081"
    depends_on:
      - backend
    environment:
      - API_SERVER="http://${API_HOST}:${API_PORT}"
    command: "--port ${PORT} --host 0.0.0.0"
    working_dir: "/code"
    volumes:
      - "${FRONTEND_DIR}:/code"
  backend:
    build:
      dockerfile: Dockerfile.dev
      context: ${BACKEND_DIR}
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - mysql
    links:
      - mysql
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    command: "--port ${API_PORT} --host 0.0.0.0"
    working_dir: "/code"
    volumes:
      - "${BACKEND_DIR}:/code"
  mysql:
    image: mysql:5
    volumes:
      - "./mysql:/var/lib/mysql"
      - "./mysql-init:/docker-entrypoint-initdb.d"
    environment:
      - MYSQL_ROOT_PASSWORD=password
    expose:
      - "3306"
