version: "3"
services:
  monitor:
    build:
      dockerfile: Dockerfile.dev
      context: ./monitor
    command: "'ALL SERVICES are READY! Open http://${API_HOST}:${PORT}/ in your browser.' db:5432 backend:${API_PORT} frontend:${PORT}"
    environment:
      - "TERM=${TERM}"
    links:
      - frontend
      - backend
      - db
  frontend:
    build:
      dockerfile: Dockerfile.dev
      context: ${FRONTEND_DIR}
    command: "start"
    ports:
      - "${PORT}:${PORT}"
      - "8081:8081"
    depends_on:
      - backend
    environment:
      - "REACT_APP_API_SERVER=http://${API_HOST}:${API_PORT}"
      - "REACT_APP_RECAPTCHA_KEY=${RECAPTCHA_KEY}"
      - "PORT=${PORT}"
      - "HOST=0.0.0.0"
      - "SHELL=/bin/sh"
    working_dir: "/code"
    volumes:
      - "${FRONTEND_DIR}:/code"
  backend:
    build:
      dockerfile: Dockerfile.dev
      context: ${BACKEND_DIR}
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - db
    links:
      - db
    environment:
      - FLASK_APP=app.py
      - FLASK_CONFIGURATION=development
      - FLASK_ENV=development
      - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
    command: "/bin/bash -c 'pipenv run start:dep & pipenv run start:flask --port ${API_PORT} --host 0.0.0.0'"
    working_dir: "/code"
    volumes:
      - "${BACKEND_DIR}:/code"
  db:
    image: postgres:10.4
    environment:
      - "POSTGRES_PASSWORD=${DB_PASSWORD}"
    volumes:
      - "/var/lib/postgresql/data"
    expose:
      - "5432"
    ports:
      - "5432:5432"
