[build]
  base = "frontend"
  publish = "frontend/build"
  command = "yarn build"

[build.environment]
  REACT_APP_STAGING_BUILD = "1"
  REACT_APP_API_SERVER = "https://sakuten-api-testflight.herokuapp.com"

[context.production]
  [context.production.environment]
    REACT_APP_API_SERVER = "https://sakuten-api-release.herokuapp.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/index.html"
  [headers.values]
    Content-Security-Policy = "default-src 'self' https:; font-src 'self' https: data:; img-src 'self' https: data:; object-src 'none'; script-src https:; style-src 'self' https: 'unsafe-inline'"
    Strict-Transport-Security = "max-age=631138519"
    X-Content-Type-Options = "nosniff"
    X-Download-Options = "noopen"
    X-Frame-Options = "sameorigin"
    X-Permitted-Cross-Domain-Policies = "none"
    X-Xss-Protection = "1; mode=block"
